@value mobile from '@/styles/breakpoint.css';

.tableContainer {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;

}

.thCell {
  height: 39px;
  background-color: var(--black-100);
  font-size: 14px;
  font-weight: var(--font-medium);
  padding: 10px;

  @media all and (mobile) {
    font-size: 13px;
  }
}

.thCell:first-child {
  border-radius: 4px 0px 0px 4px;
}

.thCell:last-child {
  border-radius: 0px 4px 4px 0px;
}

.tdCell .th,
.td {
  padding: 8px;
  text-align: center;
}

.theadGap {
  height: 16px;
}

.td {
  height: 64px;
  border-bottom: 1px solid var(--gray-300);
}

.td:last-child {
  border-bottom: none;
}

.thCell,
.tdCell {
  color: var(--gray-100);
}

.tdCell {
  background-color: var(--black-200);
  font-size: 14px;
  font-weight: var(--font-regular);
  height: 64px;
  

  @media all and (mobile) {
    font-size: 13px;
  }
}

.introduce {
  padding: 15px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  /* display: -webkit-box; 
  -webkit-line-clamp: 2; 
  -webkit-box-orient: vertical; 
  word-break: break-word; */
}

.thCell:first-child {
  width: 68px; 
}

.thCell:nth-child(2) {
  width: 213px;
}

.thCell:nth-child(3) {
  width: 304px; 
}

.thCell:nth-child(4) {
  width: 153.75px;
}

.logoName {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left : 24px;
  gap: 12px;
}

.logo {
  width: 32.4px;
  height: 32.4px;
  border-radius: 100%;
}