@value mobile from '@/styles/breakpoint.css';

.tableContainer {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;

  @media all and (mobile) {
    width: 696px;
    overflow: hidden;
  }
}

.thCell {
  height: 39px;
  background-color: var(--black-100);
  font-size: 14px;
  font-weight: var(--font-medium);

  @media all and (mobile) {
    font-size: 13px;
  }
}

.th,
.td {
  padding: 8px;
  text-align: center;
  border-radius: 10px;
}

.theadGap {
  height: 16px;
}

.td {
  height: 64px;
  border-bottom: 1px solid var(--gray-300);
}

.td:last-child {
  border-bottom: none;
}

.thCell,
.tdCell {
  color: var(--gray-100);
  padding: 8px;
}

.tdCell {
  background-color: var(--black-200);
  font-size: 14px;
  font-weight: var(--font-regular);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;

  @media all and (mobile) {
    font-size: 13px;
  }
}

.introduce {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 25%;
}
