@value mobile from '@/styles/breakpoint.css';

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  color: #fff;
  font-size: 20px;
  font-weight: var(--font-bold);

  @media all and (mobile) {
    display: grid;
    gap: 16px;
    font-size: 16px;
  }
}

.box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px
}
