@value mobile, tablet, desktop from "@/styles/breakpoint.css";

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.dropdownContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  height: 48px;
  width: 144px;
  border: 1px solid var(--gray-200);
  border-radius: 10px;
  font-size: 14px;
  color: var(--gray-100);
  font-weight: var(--font-regular);

  @media all and (mobile) {
    width: 127px;
    height: 40px;
    font-size: 13px;
  }

}

.tableContainer {
  position: absolute;
  top: 50px;
  width: 144px;
  border: 1px solid var(--gray-200);
  border-radius: 10px;
  border-spacing: 0px;
  overflow: hidden;
}

.trContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 40px;
  border-bottom: 1px solid var(--gray-200);
  font-size: 14px;
  color: var(--gray-100);
  font-weight: var(--font-regular);
}

.trContainer:last-child {
  border-bottom: none;
}

.td {
  font-size: 14px;
  color: var(--gray-100);
  font-weight: var(--font-regular);
}