@value mobile, tablet, desktop from "@/styles/breakpoint.css";

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.dropdownContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  height: 48px;
  width: 100%;
  padding: 12px 16px;
  gap: 10px;
  border: 1px solid var(--gray-200);
  border-radius: 10px;
  font-size: 14px;
  color: var(--gray-100);
  font-weight: var(--font-regular);

  @media all and (mobile) {
    width: 146px;
    height: 40px;
    font-size: 13px;
  }
}

.options {
  position: absolute;
  top: 120%;
  /* width: 100%; */
  background-color: white;
  border: 1px solid var(--gray-200);
  border-radius: 10px;
  z-index: 10;
}