.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 36px 24px;
  width: 100%;
  border-radius: 10px;
  background-color: var(--black-200);
}

.font {
  background-color: var(--black-200);
  color: var(--gray-100);
  font-size: 16px;
}

.light {
  font-weight: var(--font-medium);
}

.bold {
  font-weight: var(--font-semibold);
}

.boardContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 24px;
}
