.button {
  position: absolute;
  top: -65px;
  right: 0px;
}

.span {
  color: var(--gray-200);
  text-align: center;
  font-size: 14px;
  font-weight: var(--font-regular);
  background-color: unset;
}

.selectContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
  background-color: unset;
}
