@value mobile, tablet, desktop from "@/styles/breakpoint.css";

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.navbarContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-bottom: 1px solid var(--gray-100);
}

.mainContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  width: 1200px;
  gap: 16px;

  @media all and (tablet) {
    width: 696px;
  }

  @media all and (mobile) {
    width: 359px;
    margin-top: 24px;
  }
}