.overlay {
  z-index: 15;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: #000;
  opacity: 0.5;
}

.modalContainer {
  z-index: 20;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 24px;
  border-radius: 10px;
  background-color: var(--black-300);
}

.img {
  position: absolute;
  top: 20px;
  right: 20px;
}