.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  gap: 16px;
  color: #FFF;
  font-size: 18px;  
  font-weight: var(--font-bold);
}

.tableContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  gap: 12px;
}

.companyBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.company {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
}

.img {
  border-radius: 50%;
}

.companyTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
}

.name {
  color: #fff;
  font-size: 16px;
  font-weight: var(--font-medium);
}

.category {
  color: var(--gray-200);
  font-size: 14px;
  font-weight: 400;
}