.container {
  /* position: relative; */
  background-color: var(--black-200);
}

.img {
  background-color: var(--black-200);
}

.list {
  position: absolute;
  bottom: -70px;
  right: 50px;
  width: 120px;
  z-index: 100;
}
